@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer component {

    .rect-container{
        @apply
        w-full
        h-[5%]
        flex
        flex-col
        items-start
        gap-10
        px-10
        py-30
        ;
    }

    .rect-container input {
        @apply w-[70%]
        h-[5%]
        bg-white
        border-2
        border-white
        rounded-md
    }
    .rect-container select{}




    .rect-container input {
        width: 70%;
        height: 5%;
        padding: 4px 8px 4px 8px;
        background: #FFFFFF;
        color: #C0C0C0;
        border-color: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px 3px 3px 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
    }

    .rect-container select{
        width: 70%;
        height: 5%;
        padding: 4px 8px 4px 8px;
        background: #FFFFFF;
        color: #C0C0C0;
        border-color: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px 3px 3px 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
    }

    .button-container {
        display: flex;
    }
}



