@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    height: 100vh;
    display: grid;

}

.molde-container{
    margin: auto;

}

.molde-container ul {
    list-style: none;
    flex-direction: column;
    font-size: 1.4rem;


}
.molde-container li {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40px 10px;
    grid-row-gap: 3px;
    grid-column-gap: 10px;
    align-items: center;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    margin: 10px;
}

.molde-container-qr{
    width: 100%;
    grid-column: 1;
    grid-row: 1/2;

}

.molde-container li img{
    width: max-content;
    align-self: end;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;

}

.molde-container li h3 p{
    grid-row: 1;
    grid-column:3 ;
    margin: 0;
}
.molde-container li p{
    grid-row: 2/3;
    grid-column: 3;
    margin: 0;
}


.molde-container-crud{
    grid-row-start: 1;
    grid-column: 5;

}