

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    background: #FFFFFF;
}
.rectangle-4 {
    width: 900px;
    height: 123px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #003064;
    border-color: #FFFFFF00;
    border-width: 1px;
    border-style: solid;
    flex-direction: row;
    flex:2;
}
.rectangle-3 {
    width: 253px;
    height: 328px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #003064;
    border-color: #003064;
    border-width: 1px;
    border-style: solid;
    flex-direction: row;
    flex: 1;
}
.bootstrap-orange-button-pressed-1 {
    width: 74px;
    height: 32px;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    background: #FF8F00;
    color: #FFFFFF;
    border-color: #FF8F00;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.img_forjadora {
    background: url('src/assets/IMG_Login.JPG');
    align-self: stretch;
    box-shadow: 0px 0px 1px rgba(0, 48, 100, 0);

}
.text-area-2 {
    width: 161px;
    height: 28px;
    padding: 4px 8px 4px 8px;
    background: #FFFFFF;
    color: #C0C0C0;
    border-color: #FFFFFF00;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
}
.text_description {
    width: 262px;
    height: 71px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
}
.text-area-1 {
    width: 161px;
    height: 28px;
    padding: 4px 8px 4px 8px;
    background: #FFFFFF;
    color: #C0C0C0;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
}
.ingresar {
    width: 87px;
    height: 28px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.bienvenido-a-gmfb {
    width: 237px;
    height: 34px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.img_logo {
    width: 177px;
    height: 54px;
    background: #00000000;
    flex-direction: row;
    flex:2;
}